:root {
  --primary-color: #28ace3;
  --dark-color: #333333;
  --border-color: #d8d8d8;
  --error-color: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  color: var(--dark-color);
  background-color: var(--border-color);
}

.form {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form__wrapper {
  background: #fff;
  margin-right: 1rem;
  margin-left: 1rem;
  max-width: 70rem;
  width: 100%;
  padding: 4rem;
  /* border: 1px solid var(--border-color); */
  text-align: center;
  /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); */
  min-height: 100%;
}

.form__wrapper h2 {
  margin-bottom: 4rem;
}

form button {
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  display: block;
  margin: 4rem 0 1rem 0;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease;
  border: none;
}

.form button.btn-disable {
  cursor: not-allowed;
  background-color: #9fd6ec;
}

.form input[type="text"].input-disable {
  background-color: #f1f1f1;
}
.form input[type="text"].input-disable:hover {
  cursor: not-allowed;
}

form button:hover {
  background-color: var(--primary-color);
}
.form-group {
  margin-bottom: 1.5rem;
  position: relative;
}

.form-group .error-msg {
  position: absolute;
  top: 1rem;
  right: 0;
  color: var(--error-color);
  font-size: 1.2rem;
}

.form-group .require_icon {
  color: var(--error-color);
  padding-left: 0.2rem;
  font-size: 2.3rem;
  line-height: 1;
}

.form-group input.error-border {
  border: 1px solid var(--error-color);
  background-color: #ecb7b7;
}

.form-group label {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  text-align: left;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: 1px solid var(--border-color);
}

.form-group input::placeholder {
  opacity: 0.5;
}

.form-group textarea {
  height: 25rem;
}

.range__wrapper h3 {
  margin: 3rem 0 2rem 0;
  text-align: left;
}

.process-info {
  position: relative;
  width: 100%;
}
.process-info ul {
  position: absolute;
  top: 5rem;
  left: 0.5rem;
  list-style: none;
  width: 95%;
}

.process-info ul li {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.process-info ul li a {
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  padding-left: 1rem;
  outline: none;
  cursor: pointer;
}

.process-info ul li span:nth-of-type(2) {
  font-weight: bold;
}
.process-info ul li button:hover {
  color: #0b678f;
}

/* Loader */

.loader__wrapper {
  position: relative;
  padding: 2rem;
  display: none;
}

.loader__wrapper.show {
  display: block;
}

.loader {
  position: absolute;
  /* transform: rotateZ(180deg); */
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  display: flex;
}

.loader .icon {
  transform: rotateZ(-180deg);
  margin-right: 2rem;
}
.loader .loading {
  align-self: flex-end;
  position: relative;
  overflow: hidden;
  color: var(--primary-color);
  font-weight: bold;
}

.loader .loading::before {
  content: "";
  position: absolute;
  left: -100%;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7), #fff);
  width: 100%;
  height: 100%;
  animation: moveleft 1.5s infinite 0.43s;
}

.loader-bar {
  width: 4px;
  height: 1px;
  animation: bar-loader 1.5s infinite;
  margin-left: 2px;
  background: var(--primary-color);
  float: left;
  opacity: 0;
}

.loader-bar:nth-of-type(6) {
  animation-delay: 0.1s;
}

.loader-bar:nth-of-type(5) {
  animation-delay: 0.2s;
}

.loader-bar:nth-of-type(4) {
  animation-delay: 0.3s;
}
.loader-bar:nth-of-type(3) {
  animation-delay: 0.4s;
}
.loader-bar:nth-of-type(2) {
  animation-delay: 0.5s;
}
.loader-bar:nth-of-type(1) {
  animation-delay: 0.6s;
}

/* monmon 12-22 */
.modal.show {
  display: flex;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal__wrapper {
  max-width: 350px;
  background-color: #fff;
  height: 250px;
  padding: 4rem 2rem;
}

.modal__wrapper h3 {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--error-color);
}

.modal__wrapper button {
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  display: block;
  margin: 3rem 0 1rem 0;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease;
  border: none;
}

@keyframes bar-loader {
  0% {
    border-radius: 0%;
    opacity: 0;
  }

  50% {
    height: 20px;
    background: var(--primary-color);
    opacity: 1;
  }

  100% {
    border-radius: 0%;
    opacity: 0;
  }
}

@keyframes moveleft {
  0% {
    left: 0;
  }

  100% {
    left: 120%;
  }
}

@media screen and (max-width: 415px) {
  .form__wrapper {
    padding: 2rem;
  }

  .loader {
    width: 62%;
  }

  .process-info p {
    position: static;
    transform: unset;
  }
}
